<style>
    p{
        display:inline;
        margin:5px;
    }
</style>
<header>
<p><a href="/">HOME</a></p>
<p><a href='/about'>About Us</a></p>
<p><a href='/project'>Project</a></p>
<p><a href='/calculator'>Calculator Page</a></p>
</header>