<html>

<head>
    {{> header}}
    <title>Calculator</title>
    <link rel="stylesheet" type='text/css' href="index.css">
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
</head>

<body>      
        <div class="container">
            
            <div class="heading text-center">
            CALCULATOR
                <h5 style='text-align:right'>---By Saravjot Singh</h5>
            </div>
            
    
        

        <div id='textarea' class='text-right'>
            </div>
        <div id="hello">
        <div class='row'>
            <p id='clear' class='col-xs-9 text-center'>c</p>
            <p id='div' class='col-xs-3 text-center'>/</p>
            
        </div>
        
        <div class='row' id="1">
            <p id='nine' class='col-xs-3 text-center'>9</p>
            <p id='eight' class='col-xs-3 text-center'>8</p>
            <p id='seven' class='col-xs-3 text-center'>7</p>
            <p id='mul' class='col-xs-3 text-center'>*</p>
            
        </div>
        
        <div class='row'>
            <p id='six' class='col-xs-3 text-center'>6</p>
            <p id='five' class='col-xs-3 text-center'>5</p>
            <p id='four' class='col-xs-3 text-center'>4</p>
            <p id='min' class='col-xs-3 text-center'>-</p>
            
        </div>
        
        <div class='row'>
            <p id='three' class='col-xs-3 text-center'>3</p>
            <p id='two' class='col-xs-3 text-center'>2</p>
            <p id='one' class='col-xs-3 text-center'>1</p>
            <p id='add' class='col-xs-3 text-center'>+</p>
        </div>
            
            <div class='row'>
            <p id='zero' class='col-xs-6 text-center'>0</p>
            <p id='d' class='col-xs-3 text-center'>.</p>
            <p id='e' class='col-xs-3 text-center'>=</p>
            
    </div>
            </div>
    </div>
    {{> footer}}

</body>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script type='text/javascript' src='script.js'></script>

</html>
