<html>
<head><title>Proejct</title></head>
    <body>
        {{> header}}
        <h1>{{title}}</h1>
        <p>We are Dealing with Projects of HTML,CSS,Javascript and nodejs   </p>
    </body>
</html>